$white: #fff;
$black: #000;
$orange: #EB8A51;
$green: #78AE9C;
$wheat: #f5deb3;
$skyblue: #D4EAF5;
$blue: #267AA4;
$purple: #CB9696;
$gray: #A8A6A7;
$darkblue: #052C43;
$grey: #808080;
$brown: #cf7500;
$light: #f7f7f7;
$lightblue: #81c2e2;
$pink: #F1818A;
$lightpink: #fef2f3;
$dustypink: #FBD8DB;
$pinky: #F7B8BE;




